.header {
    text-align: center;
}

.sub-header {
    text-align: center;
}

.container {
    display: grid;
    grid-template-columns: auto auto auto;
    text-align: center;
}

.sections {
    margin-top: 10%;
}
