body {
    overflow-x: hidden;
    font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen-Sans, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, Helvetica, ヒラギノ角ゴ Pro W3, Hiragino Kaku Gothic Pro, メイリオ, Meiryo, ＭＳ Ｐゴシック, Arial, sans-serif, Apple Color Emoji, Segoe UI Emoji, Segoe UI Symbol;
}

.header {
    text-align: center;
    margin-top: 5%;
    font-size: 60px;
}

.sub-header {
    text-align: center;
    font-size: 50px;
}

span {
    color: orangered;
}

.container {
    display: grid;
    grid-template-columns: auto auto auto;
    text-align: center;
}

.sections {
    margin-top: 10%;
}

img {
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
}

.hidden {
    display: none;
}

button {
    margin: 20px;
    font-size: 16px;
    letter-spacing: 0.07em;
    line-height: 24px;
    color: orangered;
    background-color: black;
    width: 140px;
    padding: 10px;
    border-radius: 85px;
    border: none;
}

button:hover {
    background-color: #000000d6;
    cursor: pointer;
}

/*RECIPE MODAL*/
.modal-title {
    color: orangered;
}

.recipe {
    text-align: left;
}

.ingredients {
    text-align: left;
}

/* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0, 0, 0); /* Fallback color */
    background-color: rgba(0, 0, 0, 0.4); /* Black w/ opacity */
}

/* Modal Content/Box */
.modal-content {
    background-color: #fefefe;
    margin: 5% auto; /* 5% from the top and centered */
    padding: 20px;
    border: 1px solid #888;
    width: 80%; /* Could be more or less, depending on screen size */
}

/* The Close Button */
.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

@media (max-width: 920px) {
    .container {
        display: flex;
        flex-direction: column;
    }

    .sections {
        flex-flow: row wrap;
        flex-direction: column;
    }
}

@media (max-width: 613px) {
    .sub-header {
        font-size: 1.5em;
    }
}
