body {
    overflow-x: hidden;
    font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen-Sans, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, Helvetica, ヒラギノ角ゴ Pro W3, Hiragino Kaku Gothic Pro, メイリオ, Meiryo, ＭＳ Ｐゴシック, Arial, sans-serif, Apple Color Emoji, Segoe UI Emoji, Segoe UI Symbol;
    /*background-color: #f3f7f8;*/
}

.header {
    text-align: center;
    margin-top: 5%;
    font-size: 60px;
}

.sub-header {
    text-align: center;
    font-size: 50px;
}

span {
    color: orangered;
}

.container {
    display: grid;
    grid-template-columns: auto auto auto;
    text-align: center;
}

.sections {
    margin-top: 10%;
}

button {
    margin: 20px;
    font-size: 16px;
    letter-spacing: 0.07em;
    line-height: 24px;
    color: orangered;
    width: 140px;
    padding: 10px;
    border-radius: 85px;
    border: none;
}

button:hover {
    background-color: black;
    cursor: pointer;
}



@media (max-width: 920px) {
    .container {
        display: flex;
        flex-direction: column;
    }
    .sections {
        flex-flow: row wrap;
        flex-direction: column;
    }
}
